<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MSG.ME</title>
    </head>


    <body>
		<h1>MSG.ME</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <h2>search my msgs</h2>
        <form method="GET">
          <input type="text" name="search" />
            <input type="submit" value="Search" />
        </form>

        {% for msg in msgs %}

            <i>From {{msg.source.username}} to {{msg.target.username}}</i></br>
            {{msg.content|safe}}
            </br>
            </br>

            <form action='delete/' method="POST">
          {% csrf_token %}
                <input type="hidden" name="id" value="{{msg.id}}" />
                <input type="submit" value="Delete"/>
            </form>

        {% endfor %}

        <h2>send a msg</h2>

        <form action='add/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
            {% endfor %}
            </select><br/>

			<textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Send"/>
        </form>
    </body>


    </body>
</html>
